/* Custom Style */

/* Custome Style For Table */
table td{
    font-size: 85%;
    text-align: center;			
}

table th{
    text-align: center;
    font-size: 95%;
}

li a p{
    font-size: 90%;
}
.text-md-center{
    margin-top: 5px;
}

#navbar {
    background-color: $navbar;
}
#sidebar {
    background-image: linear-gradient(to right, $primary , $secondary 125%);
 
} 
.text-secondary {
    color:black;
}
.active {
    background-image: linear-gradient(to right, $primary , $secondary 120%);
    border-right: 5px solid #fff;
    border-radius: 0 !important;
    color:white !important;
} 
#announcementdesc {
    max-height: 650; 
    overflow-y: auto;
}

/* Custom card Outline */
.card-custom-blue.card-outline {
    border-top: 3px solid $outline-color;
}

.body-background {
    background-image: linear-gradient(to right, $primary , $secondary 100%);
}

.btn-login {
    color: #fff;
    background-image: linear-gradient(to right, $primary , $secondary 100%);
}

#footer {
    margin-top: 15%;
}

#ess_logo {
    width: 75%;
}
// Input Design 
/*
.input-group-prepend {
    display:none !important;
}
.form-control  {
  border: 0.5px solid rgb(98, 97, 97) !important;
  border-radius: 0 !important;

}
.form-control::placeholder{
    font-size: 15px;
    color:black;
}
label {
    text-decoration: none !important;
}
*/
/**
* Error Pages
**/
.error-page-message {
    margin-right: 25px; 
    font-family: $font-family-sans-serif; 
    font-weight: bold; 
    color: $secondary;
}

.error-page-status {
    margin-right: 25px;
    font-family: $font-family-sans-serif; 
    font-size: 60px;
}


/*Custom input for table in Payroll Management*/
.custom-table-input {
    border: none !important;
    background-color: transparent !important;
} 
.carousel {
    width:100%;
    height:365px !important;
  }

/**
* @ Custom Flat Design Design
**/
.custom-flat-input {
    //background-color: #000;
    //font-family: "Roboto", sans-serif;
    outline: 0 !important;
    background: $input-background !important;
    width: 100% !important;
    border: 0 !important;
    margin: 0 0 5px !important;
    padding: 15px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    //border-radius: 25px !important;
    line-height: 1.2;
}

.custom-flat-input-modal {
    //background-color: #000;
    //font-family: "Roboto", sans-serif;
    outline: 0 !important;
    background: $input-background !important;
    width: 100% !important;
    border: 0 !important;
    margin: 0 0 5px !important;
    padding: 10px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    //border-radius: 25px !important;
    line-height: 1.2;
}

.custom-flat-input-disabled {
    //background-color: #000;
    //font-family: "Roboto", sans-serif;
    outline: 0 !important;
    background: $input-background-disabled !important;
    width: 100% !important;
    border: 0 !important;
    margin: 0 0 5px !important;
    padding: 15px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    //border-radius: 25px !important;
    line-height: 1.2;
}

.custom-flat-select {
    outline: 0 !important;
    background: $input-background !important;
    width: 100% !important;
    height: 50px !important;
    border: 0 !important;
    margin: 0px 0 12px 0 !important;
    //padding: 15px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    //border-radius: 25px !important;
    line-height: 1.2;
}

.custom-flat-file {
    outline: 0 !important;
    // /background: $input-background !important;
    width: 100% !important;
    height: 50px !important;
    border: 0 !important;
    margin: 0px 0 12px 0 !important;
    //padding: 15px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    //border-radius: 25px !important;
    line-height: 1.2;
}


.custom-flat-textarea {
    //background-color: #000;
    //font-family: "Roboto", sans-serif;
    outline: 0 !important;
    background: $input-background !important;
    width: 100% !important;
    border: 0 !important;
    margin: 0 0 5px !important;
    padding: 15px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    //border-radius: 25px !important;
    line-height: 1.2;
}

.custom-flat-input-error {
    border: 1 !important;
    border-color: 1px solid$red !important;
}

.btn-custom-flat{
    margin-top: -25px;
    border-radius: 3px !important;
}

.custom-flat-label {
    font-size: 16px !important;
    color: $cutom-flat-label !important;
    text-transform: capitalize !important;
}


/**
* @ NProgress
**/
#nprogress .bar {
    height:4px !important;
}
#nprogress .bar {
    background: $secondary !important;
}
  
#nprogress .spinner-icon {
  display: none !important;
}


@keyframes half-circle-spinner-animation {
    0% {
      transform: rotate(0deg);

    }
    100%{
      transform: rotate(360deg);
    }
  }

  
/* Media Query for Add System Notification */
@media (min-height: 600px) and (min-width: 1300px) {
    #AddNotificationModal{
        max-width:100% !important;
        height: auto !important;
        overflow-y:auto;
    }
    .modalbody {
        overflow-y:auto;
        height:600px !important;

    }
}
@media screen and (max-width: 1380px)
{
        #AddNotificationModal{
            max-width:100% !important;
            height: auto !important;
        }
        .modalbody {
            overflow-y:auto;
            height:600px !important;

        }
} 
@media screen and (max-width: 900px)
{
        .modalbody {
            overflow-y:auto !important;
            height:600px !important;
        } 
        #AddNotificationModal{
            overflow:auto !important;    
        }
}

/*Login Page Media Queries*/
@media screen and (max-width: 1007px)
{
    #ess_logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}