/* Custom Style */

/* Custome Style For Table */

table td {
  font-size: 85%;
  text-align: center;
}

table th {
  text-align: center;
  font-size: 95%;
}

li a p {
  font-size: 90%;
}

.text-md-center {
  margin-top: 5px;
}

#navbar {
  background-color: #f2f2f2;
}

#sidebar {
  background-color: #31313D;
}

#announcementdesc {
  max-height: 650;
  overflow-y: auto;
}

/* Custom card Outline */

.card-custom-blue.card-outline {
  border-top: 3px solid #0E1E24;
}

.body-background {
  background-image: linear-gradient(to right, #0E1E24, #129D9E 100%);
}

.btn-login {
  color: #fff;
  background-image: linear-gradient(to right, #0E1E24, #129D9E 100%);
}

#footer {
  margin-top: 15%;
}

@-webkit-keyframes half-circle-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes half-circle-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Media Query for Add System Notification */

@media screen and (max-width: 1380px) {
  #AddNotificationModal {
    max-width: 100% !important;
    height: auto !important;
  }

  .modalbody {
    overflow-y: auto;
    height: 600px !important;
  }
}

@media screen and (max-width: 900px) {
  .modalbody {
    overflow-y: auto !important;
    height: 600px !important;
  }

  #AddNotificationModal {
    overflow: auto !important;
  }
}

/*Login Page Media Queries*/

@media screen and (min-width: 1181px) {
  #company_logo {
    display: center;
  }
}

