/* Custom Style */

/* Custome Style For Table */
table td{
    font-size: 85%;
    text-align: center;			
}

table th{
    text-align: center;
    font-size: 95%;
}

li a p{
    font-size: 90%;
}
.text-md-center{
    margin-top: 5px;
}
html {
    background-color: #eaeaea;
}

.wrapper {
    background-color: #eaeaea;
}

footer {
    background-color: #eaeaea;
} 
/* Media Query for Add System Notification */
@media screen and (max-width: 1380px)
{
        #AddNotificationModal{
            max-width:100% !important;
            height: auto !important;
        }
        .modalbody {
            overflow-y:auto;
            height:600px !important;

        }
} 
@media screen and (max-width: 900px)
{
        .modalbody {
            overflow-y:auto !important;
            height:600px !important;
        } 
        #AddNotificationModal{
            overflow:auto !important;    
        }
}