/* Custom Style */

/* Custome Style For Table */
table td{
    font-size: 85%;
    text-align: center;			
}

table th{
    text-align: center;
    font-size: 95%;
}

li a p{
    font-size: 90%;
}
.text-md-center{
    margin-top: 5px;
}
html {
    background-color: #eaeaea;
}

.wrapper {
    background-color: #eaeaea;
}

footer {
    background-color: #eaeaea;
}